// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

// Functions
@import "bootstrap/scss/functions";

// Variables
@import "bootstrap/scss/variables";

// Mixins
@import "bootstrap/scss/mixins";

// Custom
@import "custom";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import url("faculty-assign.scss");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
}

/* Profile Picture */
.profile-pic {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.profile-pic:hover{
    transform: scale(1.1);
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 5px 0 black;
}
.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}
.profile-menu .fa-fw {
    margin-right: 10px;
}

.toggle-change::before {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.topbar-content {
    position: fixed;
    padding-bottom: 80px;
    top: 0;
    left: 70px; 
    background-color: rgba(250, 250, 250, 0.199);
    backdrop-filter: blur(0.5rem);
    width: calc(100% - 70px); 
    min-width: calc(100% - 70px); 
    max-width: calc(100% - 70px); 
    box-shadow: 0 0 5px 0 black;
    z-index: 500;
    transition: all 0.35s ease-in-out;
}
@media (max-width: 766px) { /* Adjusted for screens less than 767px wide */
    .topbar-content {
        left: 0; /* No left margin for mobile view */
        width: 100%; /* Full width on smaller screens */
        min-width: 100%; /* Ensure minimum width is full screen */
        max-width: 100%; /* Ensure maximum width is full screen */
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar-toggler {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
}
.navbar-toggler:hover{
    transform: scale(1.1);
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 5px 0 black;
}
.navbar-collapse {
    flex-direction: column;
    align-items: center;
    position: absolute; 
    top: 10px;
    left: 110px; 
    right: 120px; 
    z-index: 1002;
}
.navbar-collapse.show {
    display: flex;
}
.profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.dropdown-menu.show {
    display: block;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Added this line for spacing */
    position: absolute; /* Added this line */
    right: 10px; /* Added this line */
    margin-top: 70px;
}
@media (max-width: 767px) {
    .navbar-collapse {

        flex-direction: column;
        align-items: center;
        position: absolute; 
        top: 10px;
        left: 60px; 
        right: 60px; 
        z-index: 999;
    }
    .navbar-brand {
        margin-left: 12px;
        font-size: 12px; /* Adjust as necessary */
    }
    .navbar-text {
        font-size: 10px; /* Adjust as necessary */
    }
}
/* Sidebar */
.logo-tag {
    height: 100px;
    background-color: #ff4a4a;
}
.logo-tag img{
    border-radius: 40%;
    box-shadow: 0 0 5px 0 black;
}
.logo-tag img:hover{
    transform: scale(1.1);
    transition: all 0.35s ease-in-out;
}
.logo-tag h2{
    font-size: clamp(1rem, 3vw, 2.5rem);
}
#sidebar .sidebar-wrapper .logo-tag{
    max-width: 70px;
    min-width: 70px;
    // transition: all 0.43s ease-out;
}
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
    // margin-bottom: 70px;
    flex: 1;
    padding: 3rem;
    margin-top: 100px;
}

#sidebar {
    width: 70px;
    z-index: 1000;
    transition: all 0.1s ease-out;
    display: flex;
    flex-direction: column;
}
#sidebar.expand, #sidebar.expand .logo-tag {
    width: 260px;
    min-width: 260px;
}
#sidebar .sidebar-wrapper{
    transition: all 0.5s ease;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 0.8rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

a.sidebar-link:hover,
a.sidebar-link.active {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid #ffffff;
}

/* Sidebar Dropdown Styles */
.has-dropdown.active > .sidebar-dropdown {
    display: block;
}

.sidebar-dropdown {
    display: none;
    background-color: #6b2020; /* Dropdown background color */
    padding: 0;
    min-width: 15rem;
}

.sidebar-dropdown .sidebar-item {
    position: relative;
}

.sidebar-dropdown .sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff; /* Dropdown item text color */
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
}

.sidebar-dropdown .sidebar-link i {
    font-size: 1.1rem;
    margin-left: 1.5rem;
}

.sidebar-dropdown .sidebar-link:hover,
.sidebar-dropdown .sidebar-link.active {
    background-color: rgba(255, 255, 255, 0.075); /* Dropdown item hover background color */
    border-left: 3px solid #ffffff; /* Dropdown item border color */
}

/* Adjustments for expandable sidebar */
#sidebar.expand .has-dropdown.active > .sidebar-dropdown {
    display: block;
}

/* Hide the icon when the sidebar is closed */
#sidebar:not(.expand) .sidebar-item .sidebar-link i.arrow,
#sidebar:not(.expand) .sidebar-dropdown {
    display: none;
}
/* Show dropdown on hover when the sidebar is not expanded */
#sidebar:not(.expand) .sidebar-item:hover .sidebar-dropdown {
    display: block;
    left: 70px;
    top: 0;
    background-color: #6b2020; /* Dropdown background color */
    z-index: 999;
}
/* Style the dropdown items */
#sidebar:not(.expand) .sidebar-item:hover .sidebar-dropdown .sidebar-link {
    white-space: nowrap;
    padding: 0.625rem 1.625rem;
    color: #fff;
}

/* Ensure dropdown items are styled correctly */
#sidebar:not(.expand) .sidebar-item:hover .sidebar-dropdown .sidebar-link i {
    margin-left: 50px;
}

/* Show and position the icon to the right of the link when the sidebar is open */
#sidebar.expand .sidebar-item .sidebar-link {
    position: relative;
}

#sidebar.expand .sidebar-item .sidebar-link i.arrow {
    display: inline-block; /* Ensure the icon is displayed */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.1rem;
    color: #fff;
}

/* Rotate the arrow icon when the sidebar item is active */
#sidebar .sidebar-nav .sidebar-item.active i.arrow {
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    /* Hide the sidebar */
    #sidebar {
        display: none;
        
    }

    /* Display the sidebar when expanded */
    #sidebar.expand {
        display: block;
        width: 100%; /* Full width for mobile view */
        position: fixed; /* Keep it fixed */
        z-index: 1000; /* Ensure it overlays other elements */
        background-color: #380e15;
    }

    /* Make sure the mobile toggle button is visible */
    .mobile-toggle-btn {
        display: block;
        cursor: pointer;
        border: 0;
        padding: 1rem 0.8rem;
        color: #fff;
        position: absolute;
        height: 100px;
        background-color: transparent;
        z-index: 1001; /* Ensure it stays above the sidebar */
    }
    .mobile-toggle-btn:hover{
        transform: scale(1.1);
        transition: all 0.35s ease-in-out;
        box-shadow: 0 0 5px 0 black;
    }

    /* Ensure the main content is pushed down when sidebar is shown */
    .main {
        padding-top: 60px;
    }
    
}
@media (min-width: 769px) {
    .mobile-toggle-btn {
        display: none;
    }
    
}
.footer {
    position: relative; /* Fixed position at the bottom */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    padding: 10px 0; /* Padding for content inside the footer */
    color: white;
    text-align: center; /* Center-align text */
    z-index: 0;
    
}

/* Additional styling for copyright text */
.footer .copyright {
    // margin-top: 10px;
    margin: 0;
    margin-left: 60px;
}
@media (max-width: 768px) { 
    .footer .copyright {
        // margin-top: 10px;
        margin: 0;
        
    }
}

// Toastr
#toast-container > .toast {
    opacity: 1 !important;
}
.toast-success {
    background-color: #51a351 !important;
    color: #fff !important;
}
.toast-error {
    background-color: #bd362f !important;
    color: #fff !important;
}

//-----DataTables-----//

/*---Paging---*/
.page-item.active .page-link{
    background-color: rgb(145, 40, 40);
    border-color: rgb(145, 40, 40); 
}

/*---Buttons---*/
.dt-buttons{
    gap: 5px;
    margin-top: 1rem;
}

thead {
    color: rgb(145, 40, 40);
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    color: rgb(145, 40, 40);
    font-weight: 500;
}

tbody {
    color: rgb(145, 40, 40);
}

[role=button] {
    color: #380e15;
}