.user-avatar img {
    display: block;
    border-radius: 50%;
    height: 200px;
    width:180px;
    max-width: 180px;
    max-height: 200px;
    margin: 0 auto 20px auto;
}
// @media screen and (max-width: 1385px) {
//     .user-avatar img {
//         border-radius: 50%;
//         width: 200px;
//         height: 200px;
//         margin-bottom: 20px;
//         margin-left: 10px;
//     }
// }
@media screen and (max-width: 985px) {
    .user-avatar img {
        margin-bottom: 20px;
        margin-left: 230px;
    }
}
@media screen and (max-width: 785px) {
    .user-avatar img {
        margin-bottom: 20px;
        margin-left: 130px;
    }
    
}
@media screen and (max-width: 585px) {
    .user-avatar img {
        margin-bottom: 20px;
        margin-left: 80px;
    }
}
@media screen and (max-width: 420px) {
    .user-avatar img {
        margin-bottom: 20px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 344px) {
    .user-avatar img {
        margin-bottom: 20px;
        width:90px;
        height: 100px;
    }
}
